// colors
$white: #eeeeee;
$purewhite: #ffffff;
$secondarywhite: #f0f0f0;
$pureblack: #000000;
$black: #212121;
$dark: #080808;
$red: #cd1717;
$darkred: #4e0000;
$cardred: #f50206;
$cardblue: #000080;
$lightgray: #e9e9e9;
$gray: #e5e5e5;

//space
$globalSitePadding: 0 2.5rem;
