@import "../variables";

.button {
  position: absolute;
  top: 10%;
  right: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark;
  font-size: 4rem;
  background-color: transparent;
  &.big {
    font-size: 8rem;
  }
  &.medium {
    font-size: 4rem;
  }
  &.small {
    font-size: 1.5rem;
  }
}
