@import "../variables";

.body-text {
  font-family: "Poppins";
  font-size: max(1rem, 16px);
  @media (max-width: $tablet) {
    font-size: max(1rem, 11px);
  }
  line-height: 1.5;
  color: $dark;
  margin-bottom: 0.75rem;
  white-space: pre-wrap;
}

.dictionary-entry-description {
  font-family: "Poppins";
  font-size: 0.75rem;
  line-height: 1.25;
  span {
    font-family: "PoppinsSemiBold";
  }
}
